<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head">
</head>

<body>

	<nav th:replace="fragments/layout :: navigation"></nav>

	<!--  PAGE BODY -->
	<div class="container" role="main">

		<span id="tutorialName" style="display: none;">index</span>

		<div class="page-header">
			<p>&nbsp;</p>
			<h1>This is Articulate! </h1>
		</div>

		<div class="row ">
			<div class="col-md-6">

				<p>The definite purpose of this application is to articulate some basic
					concepts and capabilities of the EKS platform, specifically
					the Elastic Runtime which is responsible for running application workloads.</p>
					
			  	<h3>Solution Architecture on AWS - Update on June 4</h3>					
				<img src="/images/crystal.svg"
									class="img-rounded img-responsive center-block" alt="Cinque Terre"
									width="600" height="600" />
							
				<h3>Application Architecture</h3>
				<p><code>articulate</code> is a web application that exposes friendly, browsable user interface.  However, it does not work with data directly.  It depends on the <code>attendee-service</code> application to manage data.  The <code>attendee-service</code> persists data to a MySQL database.</p>
				<img src="/images/index2.png"
									class="img-rounded img-responsive center-block" alt="Cinque Terre"
									width="600" height="200" />
								
				
				
			
				
			</div>
			
			

			<div class="col-md-6">
				<div th:replace="fragments/layout :: tutorial"></div>
			</div>

		</div>


	</div>
	<!--  /.PAGE BODY -->

	<footer th:replace="fragments/layout :: footer" class="footer">
	</footer>

	<script th:replace="fragments/layout :: app-instance-script"></script>

</body>

</html>
